@use '../abstracts/' as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-image: linear-gradient(var(--clr-softviolet), var(--clr-softblue));
}
