$colors: (
  primary: (
    darkerdesaturatedblue: hsl(238, 29%, 16%),
    softred: hsl(14, 88%, 65%),
    softviolet: hsl(273, 75%, 66%),
    softblue: hsl(240, 73%, 65%),
  ),
  neutral: (
    darkergrayishblue: hsl(237, 12%, 33%),
    darkgrayishblue: hsl(240, 6%, 50%),
    lightgrayishblue: hsl(240, 5%, 91%),
    white: hsl(360, 100%, 100%),
  ),
);
